<h4><%= @post.title %></h4>
<div class="date"><%= @post.created_at.strftime("%B %d, %Y") %></div>
<p><%= simple_format(@post.body) %></p>

<% if admin_signed_in? %>
  <div class="center">
    <%= link_to "Edit post", edit_post_path, class: "btn btn-secondary-outline" %>
    <%= link_to "Delete post", @post, method: :delete, data: { confirm: "You sure?" },
      class: "btn btn-danger-outline" %>
  </div>
<% end %>
<%= link_to "Back", posts_path %>
