<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if admin_signed_in? %>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "New post", new_post_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to  "Sign out", destroy_admin_session_path, method: :delete %></li>
          </ul>
        </nav>
      </div>
    </header>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
